* {
padding: 0;
margin: 0;
}

.para-wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.para-child {
    position: relative;
    height: 100vh;

    display: grid;
    align-items: center;
    justify-content: center;

    grid-template-columns: 1fr;
}
.para-child h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.parallax::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  

    transform: translateZ(-1px) scale(1.5);
    z-index: -1;
}

.hero-img::after {
    background-size: cover;
    background-image: url('../img/bg-desk.jpeg');
}

.main-pannel {
    height: 2000px;
    width: 100%;
    background-color: red;

    display: grid;
    align-items: center;
    justify-content: center;

    margin-top: 800px;
}

.title {
    margin-left: 36%;
    margin-top: 100px;
    position: absolute;
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
}

.menu_b{
    float: left;
    margin-left: 20px;
}

.menu_container{
    margin-left: 26%;

}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    left:100px;
    display:none;
    text-indent:-9999px;
    background: url('../img/icon_top.png') no-repeat;
    z-index: 1;
    }

.connect{
    position: fixed;
    bottom: 0px;
    width:220px;
    height:300px;
    right:18px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: rgba(51, 92, 125, 0.911);
    border-radius: 20px 0 0 0;
    text-align: center;
    z-index: 1;
}

.move{
    bottom: -280px;
}
.green{
    float: left;
    border-radius: 0 0 20px 0;
    background-color: rgb(12, 175, 12);
}
.red{
    float: left;
    border-radius: 20px 0 0 0;
    background-color: rgba(255, 0, 0, 0.911);
}
.h{
    text-align: center;

    color: aliceblue;
}

.close{
    width: 55px;
    height: 20px;
}

.userData{
    margin-top: 30px;
}

.massage{
    margin-top: 30px;
}

.submit{
    margin-top: 30px;
}
header{
    position: fixed;
    width:  100%;
    text-align: center;
    font-size: 32px;
    line-height: 56px;
    height: 56px;
    background: rgba(51, 92, 125, 0.911);
    color: #fff;
    font-family: 'Roboto Slab', serif;
    transition: all 0.4s ease;
    z-index: 1;
    
}

header.sticky {
    opacity: 1;
    position: fixed;
    font-size: 24px;
    line-height: 48px;
    height: 48px; 
    width: 80%;
    margin-left:10%;
    background: #efc47D;
    text-align: left;
    
}

.active
{
    color: red;
}