<!-- Лендинг -->
{% extends 'base.html' %}
{% block body %}
    <form class="connect move">
        <p class="close red">X</p>
        <p class="close green">O</p>
        <div class="h">Связь с нами</div>
        <div class="userData"><input type="text"  placeholder="Имя"> </div>
        <input class="userData" type="tel" placeholder="Электронная почта"><br><br>
        <input class="massage" type="text"  placeholder="Сообщение"></p>
        <div class="submit"><input type="button" value="Отправить"></div>
    </form>
    <a href="../#" class="scrollup">Наверх</a>
    <body>
        <header>
            <div class="menu_container">
                <div class="menu_b"><a href="{% url 'home' %}">Главная</a></div>
                <div class="menu_b"><a href="{% url 'dairy' %}">Ежедневник</a></div>
                <div class="menu_b"><a href="{% url 'profile' %}">Профиль</a></div>
                <div class="menu_b"><a href="{% url 'about' %}">Контакты</a></div>
                <div class="menu_b"><a href="{% url 'login' %}">Логин</a></div>
            </div>
        </header>
        <main class="para-wrapper">
            <section class="para-child parallax hero-img">
                <div class="title">
                    <h1>контактные номера</h1>
                </div>
            </section>
        </main>
        <script src="../js/jquery.min.js"></script>
        <script src ="../js/script.js"></script>
    </body>

</html>
{% endblock %}