{% load staticfiles %}
<html lang="en">
<!-- base -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src ="{% static 'js/script.js' %}"></script>
    </head>
    {% block body %}
    {% endblock %}
